{% extends 'base.html' %}
  {% block title %}
    Пост {{ title }}
  {% endblock %}
{% block content %}
  <div class="row">
    <aside class="col-12 col-md-3">
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Дата публикации: {{ posts.pub_date }}
        </li>
        {% if posts.group %}  
          <li class="list-group-item">
            Группа: {{ post.group.title }}
            <a href="{% url 'posts:group_posts' posts.group.slug %}">все записи группы</a>
        {% endif %}
          </li>
          <li class="list-group-item">
            Автор: {{ posts.author.get_full_name }}
          </li>
          <li class="list-group-item d-flex justify-content-between align-items-center">
          Всего постов автора:  <span >{{ posts_count }}</span>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:profile' posts.author %}">
            все посты пользователя
          </a>
        </li>
        <li class="list-group-item">
          <a href="{% url 'posts:post_detail' posts.id %}">
            подробная информация
          </a>
        </li>
      </ul>
    </aside>
    <article class="col-12 col-md-9">
      {% load thumbnail %}
      {% thumbnail posts.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p> {{ posts.text }} </p>
      <a class="btn btn-primary" href="{% url 'posts:post_edit' posts.id %}">
        Редактировать запись
      <a/>
      {% include 'includes/add_comment.html' %}
    </article>
  </div> 
{% endblock %}